*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.hero{
    background: url(backimg.jpg);
    background-size: cover;
    width:100%;
    min-height: 100vh;
}
body{
    color:white;
}
.header{
    position:relative;
    top:0;
    left: 0;
    width:100%;
    padding:20px 10px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.link a{
    position:relative;
    font-size:28px;
    text-decoration: none;
    font-weight: bold;
    padding:30px;
    color:blue;
}
.link a:hover{
    color:white;
}
.logo{
    position: relative;
    font-size: 35px;
    color:white;
    text-decoration: none;
    font-weight:500;
    margin-left: 40px
}
#nm{color:blue;}
.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height:100%;
    display:flex;
    align-items: center;
}
.home-content{
    position: relative;
    margin-top:0%;
    margin-left:10%;
}
.home-content h3{
    font-size: 25px;
    color:white;
}
.home-content h1{
    font-size: 25px;
    color:white;
}
#num{
    color:blue;
    font-size:25px;
}
.cv{
    border:2px solid blue;
    border-radius:20px;
    text-decoration: none;
    color: white;
    padding:5px 10px 5px 10px;
}
.cv:hover{
    background-color: blue;
}
.time{
    color:blue;
    position: relative;
    margin-right:40px;
    margin-top:33%;
    font-size: 20px;
}
.my{
    background-color:black;
    background-size: cover;
  
}
.nand{
      width:70%;
      height:70%;
      margin-left:5%;
      margin-top:2%;
      border-radius:25px;
      border: 2px solid blue;
}
.btn{
    background-color: blue;
    border-radius: 15px;
    margin-left:47%;
    margin-top:5%;
    padding:2px 5px 2px 5px;
    color:white;
}
.btn:hover{
    background-color: transparent;
}
.about{
    display: flex;
    height:700px;
}
.abt{
    position: relative;
    text-align: center;
    font-size:30px;
    top:4%;
    color:blue;
}
.para{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    margin-top: 6%;
    text-align: justify;
}.skill{
    background-color: black;
    background-size: cover;
    height:700px;
}
.sk h2{
    color:blue;
    font-weight: bold;
    font-size:30px;
    margin-left:45%;
}
h4{
    font-size: 25px;
}
.ts{
   position: relative;
   top:40px;
}
.sk i{
    margin-left:47%;
    font-size:35px;
    margin-top:70px;
}.pt{
    background-color: black;
}
.p{
    color:blue;
    font-size:30px;
    font-weight:bold;
    margin-left:48%;
    position: relative;
    top:20px;
}
.bx img{
    width:250px;
    height:185px;
    border:2px solid blue;
    border-radius: 10px;
    margin:80px;
    position: relative;
    left:10%;   
}
.atime, .length,.car{
    position:relative;
    bottom:80px;
}
.color:hover{
    transform: scale(1.3);
    transition: 1s;
}
.otp:hover{
    transform: scale(1.3);
    transition: 1s;
}
.dtime:hover{
    transform: scale(1.3);
    transition: 1s;
}
.atime:hover{
    transform: scale(1.3);
    transition: 1s;
}
.car:hover{
    transform: scale(1.3);
    transition: 1s;
}
.length:hover{
    transform: scale(1.3);
    transition: 1s;
}
.contact{

    height:410px;
}
.cnt{
    background-color: black;
    height:200px;
}
.ft{
    background-color:rgb(60, 142, 230);
    height:210px;
} .ct{
    text-align: center;
}
#bt{
   margin-left:48%;
   margin-top:5%;
   border-radius: 15px;
   background-color: blue; 
   color:white;
   padding:2px 5px 2px 5px;
}
#bt:hover{
    background-color: transparent;
}
.social i{
    font-size:25px;   
}
.ft .end{
    text-align: center;
   position:relative;
   top:25px;
   font-size:20px;
}
.ft .ed{
    text-align: center;
    position: relative;
    top:22px;
}
#lk{
    margin-left:47.5%;
    border:2px solid blue;
    border-radius:20px;
}
#gt{
    border:2px solid blue;
    border-radius:20px;
    margin-left:0.5%;
}
#ar{
    font-size:50px;
}
#gt:hover{
    transition: 1s;
    transform: rotate(360deg);
}
#lk:hover{
    transition: 1s;
    transform: rotate(360deg);
}


