*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,rgb(15, 42, 194),rgb(233, 51, 81));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.clock{
    width:300px;
    height:300px;
    background-color:black;
    border-radius:50%;
    border: 2px solid white;
    position: relative;    
}
.number{
    --rotation:0;
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    color: white;
    transform:rotate(var(--rotation));
    font-size:25px;
}
.number1{
    --rotation:30deg;
}
.number2{
    --rotation:60deg;
}
.number3{
    --rotation:90deg;
}
.number4{
    --rotation:120deg;
}
.number5{
    --rotation:150deg;
}
.number6{
    --rotation:180deg;
}
.number7{
    --rotation:210deg;
}
.number8{
    --rotation:240deg;
}
.number9{
    --rotation:270deg;
}
.number10{
    --rotation:300deg;
}
.number11{
    --rotation:330deg;
}
.hand{
 --rotation:0;
 position: absolute;
 bottom:50%;
 left:50%;
 width:10px;
 height:50%;
 transform:translateX(-50%) rotate(calc(var(--rotation)*1deg));
 transform-origin: bottom;
}
.second{
    width:3px;
    height:45%;
    background-color:rgb(220, 52, 80);
}
.minute{
    width:4px;
    height:45%;
    background-color:  blue;
}
.hour{
    width:5px;
    height:45%;
    background-color:  white;
}
.point{
    background-color: rgb(245, 242, 242);
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    left:145px;
    top:143px;
}